{{ header }}
<div class="l-container l-container_padding">
<div class="grid">
{% if column_left %}
<div class="grid__col grid__col--1-of-4">
{{ column_left }}
</div>
{% endif %}
{% if column_left and column_right %}
{% set class = 'grid__col--2-of-4' %}
{% elseif column_left or column_right %}
{% set class = 'grid__col--3-of-4' %}
{% else %}
{% set class = 'grid__col--4-of-4' %}
{% endif %}
<div class="grid__col {{ class }}">
<ul class="breadcrumbs">
{% for breadcrumb in breadcrumbs %}
<li class="breadcrumbs__item"><a href="{{ breadcrumb.href }}" class="link link_breadcrumbs">{{ breadcrumb.text }}</a></li>
{% endfor %}
</ul>
{{ content_top }}
<h1>{{ heading_title }}</h1>
<form action="{{ action }}" method="post" enctype="multipart/form-data">
  <div class="ui__group">
    <label class="ui__label">{{ entry_newsletter }}</label>
    <label>
      <input type="radio" name="newsletter" value="1" {% if newsletter %}checked="checked"{% endif %} />
      {{ text_yes }}
    </label>
    <label>
      <input type="radio" name="newsletter" value="0" {% if not newsletter %}checked="checked"{% endif %} />
      {{ text_no }}
    </label>
  </div>
  <div class="ui__buttons ui__buttons_al">
    <a href="{{ back }}" class="button button_view_pseudo">&larr;&nbsp;{{ button_back }}</a>
    <input type="submit" value="Сохранить" class="button" />
  </div>
</form>

{{ content_bottom }}
</div>
{% if column_right %}
<div class="grid__col grid__col--1-of-4">
{{ column_right }}
</div>
{% endif %}
</div>
</div>
<div class="l-container">
</div>
{{ footer }}
