{{ header }}
<div class="l-container l-container_padding">
<div class="grid">
{% if column_left %}
<div class="grid__col grid__col--1-of-4">
{{ column_left }}
</div>
{% endif %}
{% if column_left and column_right %}
{% set class = 'grid__col--2-of-4' %}
{% elseif column_left or column_right %}
{% set class = 'grid__col--3-of-4' %}
{% else %}
{% set class = 'grid__col--4-of-4' %}
{% endif %}
<div class="grid__col {{ class }}">
<ul class="breadcrumbs">
{% for breadcrumb in breadcrumbs %}
<li class="breadcrumbs__item"><a href="{{ breadcrumb.href }}" class="link link_breadcrumbs">{{ breadcrumb.text }}</a></li>
{% endfor %}
</ul>
{% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
{% endif %}
{{ content_top }}
<form action="{{ action }}" method="post" enctype="multipart/form-data">
  <h1>{{ heading_title }}</h1>
  <div class="ui__group">
  </div>
  <div class="ui__group ui__group_required">
    <label class="ui__label" for="input-firstname">{{ entry_firstname }} </label>
    <input type="text" name="firstname" value="{{ firstname }}" placeholder="{{ entry_firstname }}" id="input-firstname" class="ui__input ui__input_fw" />
    {% if error_firstname %}
    <div class="ui__alert">{{ error_firstname }}</div>
    {% endif %}
  </div>
  <input type="hidden" name="lastname" id="input-lastname" />
  <div class="ui__group ui__group_required">
    <label class="ui__label" for="input-email">{{ entry_email }}</label>
    <input type="email" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="ui__input ui__input_fw" />
    {% if error_email %}
    <div class="ui__alert">{{ error_email }}</div>
    {% endif %}
  </div>
  <div class="ui__group ui__group_required">
    <label class="ui__label" for="input-telephone">{{ entry_telephone }}</label>
    <input type="tel" name="telephone" value="{{ telephone }}" placeholder="{{ entry_telephone }}" id="input-telephone" class="ui__input ui__input_fw" />
    {% if error_telephone %}
    <div class="ui__alert">{{ error_telephone }}</div>
    {% endif %}
  </div>
  <div class="ui__buttons ui__buttons_al">
    <a href="{{ back }}" class="button button_ui">&larr;&nbsp;{{ button_back }}</a>
    <input type="submit" value="Сохранить" class="button" />
  </div>
  {# Кастомные поля удалены #}
</form>
{{ content_bottom }}
</div>
{% if column_right %}
<div class="grid__col grid__col--1-of-4">
{{ column_right }}
</div>
{% endif %}
</div>
</div>
<div class="l-container">
</div>
{{ footer }}