{{ header }}
<div class="l-container l-container_padding">
<div class="grid">
{% if column_left %}
<div class="grid__col grid__col--1-of-4">
{{ column_left }}
</div>
{% endif %}
{% if column_left and column_right %}
{% set class = 'grid__col--2-of-4' %}
{% elseif column_left or column_right %}
{% set class = 'grid__col--3-of-4' %}
{% else %}
{% set class = 'grid__col--4-of-4' %}
{% endif %}
<div class="grid__col {{ class }}">
<ul class="breadcrumbs h-center">
{% for breadcrumb in breadcrumbs %}
<li class="breadcrumbs__item"><a href="{{ breadcrumb.href }}" class="link link_breadcrumbs">{{ breadcrumb.text }}</a></li>
{% endfor %}
</ul>
{{ content_top }}
<div class="ui__form">
<h1>{{ heading_title }}</h1>
<div class="ui__group">
  <a href="index.php?route=account/return/add" class="button">Новая заявка</a>
</div>
<h3>Оформленные возвраты</h3>
{% if returns %}
{% for return in returns %}
<div class="ui__group">
  <a href="{{ return.href }}" class="link">Возврат заказа №{{ return.order_id }} от {{ return.date_added }}</a>
  Статус: {{ return.status }}
  {% endfor %}
</div>
<div class="pagination__wrapper">
  {{ pagination }}{{ results }}
</div>
{% else %}
{{ text_empty }}
{% endif %}
<div class="ui__buttons ui__buttons_al">
  <a href="{{ continue }}" class="button button_ui">&larr;&nbsp;Назад</a>
</div>
</div>
{{ content_bottom }}
</div>
{% if column_right %}
<div class="grid__col grid__col--1-of-4">
{{ column_right }}
</div>
{% endif %}
</div>
</div>
{{ footer }}
