{% from 'THEME_SLUG/blocks/breadcrumbs/breadcrumbs.twig' import breadcrumbs %}

{{ header }}
<div class="page__row">
  <div class="wrapper">
    <div class="category-layout">
      {{ breadcrumbs(breadcrumbs) }}
      <h2 class="category-layout__title">
        {{ heading_title }}
      </h2>

      <div class="page-layout category-layout__content">
        {% if column_left %}
        <div class="page-layout__sidebar">
          {{ column_left }}
        </div>
        {% endif %}

        <div class="page-layout__main">
          {{ content_top }}

          {% if products %}
          <ul class="sort category-layout__sort">
          {% for sorts in sorts %}
            <li class="sort__item">
              {% if sorts.value == '%s-%s'|format(sort, order) %}
              <mark class="sort__current">
                {{ sorts.text }}
              </mark>
              {% else %}
              <a
                href="{{ sorts.href }}"
                class="link link_theme_context"
              >
                {{ sorts.text }}
              </a>
              {% endif %}
            </li>
          {% endfor %}
          </ul>

          <div class="product-grid category-layout__products">
            {% for product in products %}
            <div class="product-grid__item">
              <div
                class="product-card"
                data-hint="{{ product.product_id }}"
              >
                <img
                  src="{{ product.thumb }}"
                  class="product-card__image"
                />
                <h3 class="product-card__title">
                  <a
                    href="{{ product.href }}"
                    class="product-card__link link link_theme_context"
                  >
                    {{ product.name }}
                  </a>
                </h3>
                <p class="product-card__price">
                  <span class="product-card__hidden-text">
                    Стоимость:
                  </span>
                  {% if product.special %}
                  <span class="product-card__price-value">
                    {{ product.special }}
                  </span>
                  <span class="product-card__original-price">
                    {{ product.price }}
                  </span>
                  {% else %}
                  <span class="product-card__price-value">
                    {{ product.price }}
                  </span>
                  {% endif %}
                </p>
                {% if product.attribute_groups %}
                <div class="hint" id="hint_{{ product.product_id }}">
                  {% for attribute_group in product.attribute_groups %}
                  <table>
                    {% for attribute in attribute_group.attribute %}
                    <tr>
                      <td>
                        {{ attribute.name }}
                      </td>
                      <td>
                        {{ attribute.text }}
                      </td>
                    {% endfor %}
                  </table>
                  {% endfor %}
                </div>
                {% endif %}
              </div>
            </div>
            {% endfor %}
          </div>

          <div class="category-layout__pagination">
            {{ pagination }}
            {{ results }}
          </div>
          {% endif %}

          {% if not categories and not products %}
            <p class="catalog__empty">
              В этой категории пока пусто
            </p>
          {% endif %}

          {{ content_bottom }}
        </div>

        {% if column_right %}
        <div class="page-layout__sidebar">
          {{ column_right }}
        </div>
        {% endif %}
      </div>

      {% if description %}
      <div class="category-layout__description">
        {{ description }}
      </div>
      {% endif %}
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
  $('.catalog__item').mousemove(function(e){
    var top = e.pageY  + 10 + 'px';
    var left = e.pageX  + 10 + 'px';
    var id = $(this).data('hint');
    $('#hint_'+id).css({
      display: "block",
      top: top,
      left: left
    });
  });
  $('.catalog__item').mouseout (function(){
    var id = $(this).data('hint');
    $('#hint_' + id).hide();
  });
});
</script>
{{ footer }}
