{{ header }}
<div class="page__row">
  <div class="wrapper">
    <div class="grid">
      {% if column_left %}
        <div class="grid__col grid__col--1-of-4">
          {{ column_left }}
        </div>
      {% endif %}
      {% if column_left and column_right %}
        {% set class = 'grid__col--2-of-4' %}
      {% elseif column_left or column_right %}
        {% set class = 'grid__col--3-of-4' %}
      {% else %}
        {% set class = 'grid__col--4-of-4' %}
      {% endif %}
      <div class="grid__col {{ class }}">
        <ul class="breadcrumbs">
          {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumbs__item">
            <a
              href="{{ breadcrumb.href }}"
              class="link"
            >
              {{ breadcrumb.text }}
            </a>
          </li>
          {% endfor %}
        </ul>
        {{ content_top }}
        <div class="product">
          <div class="product__col">
          </div>
        </div>
        <div class="product" itemscope itemtype="http://schema.org/Product">
          <div class="product__col">
            <div class="product__images">
              <div id="js-product-images" class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs=" data-src="{{ popup }}" class="swiper-lazy" title="{{ heading_title }}" alt="{{ heading_title }}" />
                    <div class="swiper-lazy-preloader"></div>
                  </div>
                  {% for image in images %}
                  <div class="swiper-slide">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs=" data-src="{{ image.popup }}" class="swiper-lazy" alt="{{ heading_title }}" />
                    <div class="swiper-lazy-preloader"></div>
                  </div>
                  {% endfor %}
                </div>
              </div>
              {#Миниатюры#}
              {% if images %}
              <div class="product__thumbs">
                <div id="js-product-thumbs" class="swiper-container">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <img class="product__thumb" src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
                    </div>
                    {% for image in images %}
                    <div class="swiper-slide">
                      <img class="product__thumb" src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
          </div>

          <div class="product__col">
            <h1 class="visually-hidden" itemprop="name">{% if manufacturer %}{% endif %}{{ heading_title }}</h1>
            <span itemprop="image" content="{{ popup }}" />

            <dl class="product__summary">
              {% if manufacturer %}
              <dt class="product__hidden-text">
                {{ text_brand }}
              </dt>
              <dd class="product__manufacturer">
                <a
                  class="link link_theme_ghost"
                  href="{{ manufacturers }}"
                  itemprop="manufacturer"
                >
                  {{ manufacturer }}
                </a>
              </dd>
              {% endif %}

              <dt class="product__hidden-text">
                {{ text_model }}
              </dt>
              <dd class="product__title">
                {{ model }}
              </dd>

              <dt class="product__hidden-text">
                Цена
              </dt>
              <dd
                class="product__price"
                itemprop="price"
                content="{{ special ?: price }}"
              >
                {{ special ?: price }}
              </dd>

              <dt class="product__hidden-text">
                {{ text_stock }}
              </dt>
              <dd class="product__stock">
                {{ stock }}
              </dd>
            </dl>

            {% if special %}
            <div class="product__price_old">
              <span class="h-block">Старая цена:</span>
              <span class="h-block product__price_through">{{ price }}</span>
            </div>
            {% endif %}

            <form class="product-form ui__group">
              {# Опции #}
              {% if options %}
              <h3 class="product__subtitle">
                {{ text_option }}
              </h3>
                  {% for option in options %}
                    {% if option.type == 'select' %}
                    <div class="form__field">
                      <div class="form-field{% if option.required %} form-field_required{% endif %}">
                        <label
                          class="form-field__label"
                          for="input-option{{ option.product_option_id }}"
                        >
                          {{ option.name }}
                        </label>
                        <div class="form-field__controls">
                          <select
                            name="option[{{ option.product_option_id }}]"
                            id="input-option{{ option.product_option_id }}"
                          >
                            <option value="">
                              {{ text_select }}
                            </option>
                            {% for option_value in option.product_option_value %}
                            <option value="{{ option_value.product_option_value_id }}">
                              {{ option_value.name }}
                              {% if option_value.price %}
                              ({{ option_value.price_prefix }}{{ option_value.price }})
                              {% endif %}
                            </option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div>
                    {% endif %}

                    {% if option.type == 'radio' %}
                    <div class="form__field">
                      <fieldset class="form-field{% if option.required %} form-field_required{% endif %}">
                        <legend class="form-field__label">
                          {{ option.name }}
                        </legend>
                        <div
                          class="form-field__controls"
                          id="input-option{{ option.product_option_id }}"
                        >
                          {% for option_value in option.product_option_value %}
                          <label class="form-field__control">
                            <input
                              type="radio"
                              name="option[{{ option.product_option_id }}]"
                              value="{{ option_value.product_option_value_id }}"
                            />
                            {% if option_value.image %}
                              <img
                                src="{{ option_value.image }}"
                                alt="{{ option_value.name }}
                                {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}"
                              />
                            {% endif %}
                            {{ option_value.name }}
                            {% if option_value.price %}
                            ({{ option_value.price_prefix }}{{ option_value.price }})
                            {% endif %}
                          </label>
                          {% endfor %}
                        </div>
                      </fieldset>
                    </div>
                    {% endif %}

                    {% if option.type == 'checkbox' %}
                    <div class="form__field">
                      <fieldset class="form-field{% if option.required %} form-field_required{% endif %}">
                        <legend class="form-field__label">
                          {{ option.name }}
                        </legend>
                        <div
                          class="form-field__controls"
                          id="input-option{{ option.product_option_id }}"
                        >
                          {% for option_value in option.product_option_value %}
                          <div class="form-field__control">
                            <label>
                              <input
                                type="checkbox"
                                name="option[{{ option.product_option_id }}][]"
                                value="{{ option_value.product_option_value_id }}"
                              />
                              {% if option_value.image %}
                              <img
                                src="{{ option_value.image }}"
                                alt="{{ option_value.name }}
                                {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}"
                                />
                              {% endif %}
                              {{ option_value.name }}
                              {% if option_value.price %}
                              ({{ option_value.price_prefix }}{{ option_value.price }})
                              {% endif %}
                            </label>
                          </div>
                          {% endfor %}
                        </div>
                      </fieldset>
                    </div>
                    {% endif %}

                    {% if option.type == 'text' %}
                    <div class="form__field">
                      <div class="form-field{% if option.required %} form-field_required{% endif %}">
                        <label
                          class="form-field__label"
                          for="input-option{{ option.product_option_id }}"
                        >
                          {{ option.name }}
                        </label>
                        <div class="form-field__controls">
                          <input
                            class="text-field"
                            type="text"
                            name="option[{{ option.product_option_id }}]"
                            value="{{ option.value }}"
                            placeholder="{{ option.name }}"
                            id="input-option{{ option.product_option_id }}"
                          />
                        </div>
                      </div>
                    </div>
                    {% endif %}

                    {% if option.type == 'textarea' %}
                    <div class="form__field">
                      <div class="form-field{% if option.required %} form-field_required {% endif %}">
                        <label
                          class="form-field__label"
                          for="input-option{{ option.product_option_id }}"
                        >
                          {{ option.name }}
                        </label>
                        <div class="form-field__controls">
                          <textarea
                            name="option[{{ option.product_option_id }}]"
                            rows="5"
                            placeholder="{{ option.name }}"
                            id="input-option{{ option.product_option_id }}"
                            class="text-field"
                          >{{ option.value }}</textarea>
                        </div>
                      </div>
                    </div>
                    {% endif %}

                    {% if option.type == 'file' %}
                    <div class="form__field">
                      <div class="form-field{% if option.required %} form-field_required{% endif %}">
                        <label class="form-field__label">
                          {{ option.name }}
                        </label>
                        <div class="form-field__controls">
                          <button
                            class="button"
                            type="button"
                            id="button-upload{{ option.product_option_id }}"
                            data-loading-text="{{ text_loading }}"
                          >
                            {{ button_upload }}
                          </button>
                          <input
                            type="hidden"
                            name="option[{{ option.product_option_id }}]"
                            value=""
                            id="input-option{{ option.product_option_id }}"
                          />
                        <div>
                      </div>
                    </div>
                    {% endif %}

                    {% if option.type == 'date' %}
                    <div class="form__field">
                      <div class="form-field{% if option.required %} form-field_required{% endif %}">
                        <label
                          class="form-field__label"
                          for="input-option{{ option.product_option_id }}"
                        >
                          {{ option.name }}
                        </label>
                        <div class="form-field__controls">
                          <input
                            type="date"
                            name="option[{{ option.product_option_id }}]"
                            value="{{ option.value }}"
                            id="input-option{{ option.product_option_id }}"
                            class="form-control"
                          />
                        </div>
                      </div>
                    </div>
                    {% endif %}

                    {% if option.type == 'datetime' %}
                    <div class="form__field">
                      <div class="form-field{% if option.required %} form-field_required{% endif %}">
                        <label
                          class="form-field__label"
                          for="input-option{{ option.product_option_id }}"
                        >
                          {{ option.name }}
                        </label>
                        <div class="form-field__controls">
                          <input
                            type="datetime-local"
                            name="option[{{ option.product_option_id }}]"
                            value="{{ option.value|replace({" ": "T"}) }}"
                            id="input-option{{ option.product_option_id }}"
                          />
                        </div>
                      </div>
                    </div>
                    {% endif %}

                    {% if option.type == 'time' %}
                    <div class="form__field">
                      <div class="form-field{% if option.required %} form-field_required{% endif %}">
                        <label
                          class="form-field__label"
                          for="input-option{{ option.product_option_id }}"
                        >
                          {{ option.name }}
                        </label>
                        <div class="form-field__controls">
                          <input
                            type="time"
                            name="option[{{ option.product_option_id }}]"
                            value="{{ option.value }}"
                            id="input-option{{ option.product_option_id }}"
                          />
                        </div>
                      </div>
                    </div>
                    {% endif %}

                  {% endfor %}
              {% endif %}

              {% if recurrings %}
              <div class="ui__group">
                <h2 class="product__subtitle">{{ text_payment_recurring }}</h2>
                <div class="ui__group ui__group_required">
                  <select name="recurring_id" class="form-control">
                    <option value="">{{ text_select }}</option>
                    {% for recurring in recurrings %}
                    <option value="{{ recurring.recurring_id }}">{{ recurring.name }}</option>
                    {% endfor %}
                  </select>
                  <div class="help-block" id="recurring-description"></div>
                </div>
              </div>
              {% endif %}

              <div class="ui__buttons ui__buttons_al">
                <input type="hidden" name="product_id" value="{{ product_id }}" />
                {# Количество #}
                {# entry_qty #}
                <div class="ui__quantity">
                  <button class="ui-quantity__down">-</button>
                  <input type="text" name="quantity" value="{{ minimum }}" size="2" id="input-quantity" />
                  <button class="ui-quantity__up">+</button>
                </div>
                {# Купить #}
                <button
                  type="submit"
                  class="button button_view_action"
                >
                  <span class="button__text">
                    Добавить к заказу
                  </span>
                </button>
                <button class="order-dialog-button button">
                  <span class="button__text">
                    Купить в один клик
                  </span>
                </button>
              </div>

              {% if minimum > 1 %}
              <div class="ui__group">
                <div class="message">{{ text_minimum }}</div>
              </div>
              {% endif %}

            </form>

            {# Размеры и т.д. #}
            <div class="ui__group">
              <h2 class="product__subtitle">{{ attribute_group.name }}</h2>
              <table class="product__attributes">
                {% if weight %}
                <tr>
                  <td>
                    Вес
                  <td>
                    {{ weight }}
                {% endif %}
                {% if length and width and height %}
                <tr>
                  <td>
                    Размеры (ВxШxГ)
                  <td>
                    {{ height }}x{{ width }}x{{ length }}
                {% endif %}
            {# Атрибуты #}
                {% if attribute_groups %}
                {% for attribute_group in attribute_groups %}
                {% for attribute in attribute_group.attribute %}
                <tr>
                  <td>{{ attribute.name }}
                  <td>{{ attribute.text }}
                {% endfor %}
                {% endfor %}
                {% endif %}

                <tr class="product__attachments">
                  <td colspan="2">
                    {% if downloads %}
                      {% for download in downloads %}
                      <a
                        href="{{ download.href }}"
                        class="link"
                        title="Загрузить ({{ download.size }})"
                      >
                        {{ download.name }}
                      </a>
                      {% endfor %}
                    {% endif %}
                  </td>
                </tr>
              </table>
            </div>

            {# Описание товара #}
            <div itemprop="description" class="ui__group">
              {{ description }}
            </div>
          </div>
        </div>
        {{ content_bottom }}
      </div>
      {% if column_right %}
      <div class="grid__col grid__col--1-of-4">
        {{ column_right }}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{{ order_dialog }}
{{ footer }}
<script src="catalog/view/theme/THEME_SLUG/javascript/product.js"></script>
<script>
  $('.ui-quantity__down').click(function () {
    var $input = $(this).parent().find('input');
    var count = parseInt($input.val()) - 1;
    count = count < {{ minimum }} ? {{ minimum }} : count;
    $input.val(count);
    $input.change();
    return false;
  });

  $('.ui-quantity__up').click(function () {
    var $input = $(this).parent().find('input');
    $input.val(parseInt($input.val()) + 1);
    $input.change();
    return false;
  });
</script>
