<a
  class="cart-button button button_view_action"
  href="{{ cart }}"
>
  <span class="button__addon">
    <svg
      class="button__icon svg-icon"
      focusable="false"
      aria-hidden="true"
    >
      <use xlink:href="#icon-cart"/>
    </svg>
  </span>
  <span class="button__text">
    {{ text_items }}
  </span>
</a>

<div
  class="cart-dialog-modal modal modal_type_cart"
  role="dialog"
  tabindex="-1"
  aria-modal="true"
  aria-labelledby="cart-dialog-label"
>
  <div class="cart-dialog modal__window">
    <button class="cart-dialog__close icon-button">
      <svg
        class="icon-button__icon"
        focusable="false"
        aria-hidden="true"
      >
        <use xlink:href="#icon-close"/>
      </svg>
    </button>
    <h6
      id="cart-dialog-label"
      class="cart-dialog__title"
    >
      {{ text_cart }}
    </h6>
    <div class="cart-snippet">
      {% if products %}
      <ul class="cart-snippet__list">
      {% for product in products %}
        <li class="cart-snippet__item">
          {% if product.thumb %}
          <img
            class="cart-snippet__thumb"
            src="{{ product.thumb }}"
            alt="{{ product.name }}"
            title="{{ product.name }}"
          />
          {% endif %}
          <div class="cart-snippet__info">
            <span class="cart-snippet__title">
              <a href="{{ product.href }}" class="link">
                {{ product.name }}
              </a>
            </span>
            {% if product.option %}
            <ul class="cart-snippet__options">
              {% for option in product.option %}
              <li class="cart-item__option">
                {{ option.name }} {{ option.value }}
              </li>
              {% endfor %}
            </ul>
            {% endif %}
            {% if product.special %}
            <span class="cart-snippet__price">
              {{ product.special }} x {{ product.quantity }}
            </span>
            {% else %}
            <span class="cart-snippet__price">
              {{ product.price }} x {{ product.quantity }}
            </span>
            {% endif %}
          </div>
          <button
            class="icon-button cart-snippet__remove"
            onclick="cart.remove('{{ product.cart_id }}')"
          >
            <svg class="icon-button__icon">
              <use xlink:href="#icon-remove"/>
            </svg>
          </button>
        </li>
      {% endfor %}
      </ul>
      {% for total in totals %}
      {% if total.code == 'total' %}
      <a
        href="{{ checkout }}"
        class="button"
      >
        Оформить заказ
        <span>
          {{ total.text }}
        </span>
      </a>
      {% endif %}
      {% endfor %}
    {% else %}
    {{ text_empty }}
    {% endif %}
    </div>
  </div>
</div>
