  <div class="page__footer">
    <div class="wrapper">
      <footer class="footer">
        <div class="footer__row">
          <a
            class="footer-telephone"
            href="tel:{{ telephone|replace({'-':"",'(':"",')':"",' ':""}) }}"
          >
            {{ telephone }}
          </a>
        </div>
        <div class="footer__row">
          <ul class="information-links link-group link-group_direction_row">
          {% for information in informations %}
            <li class="link-group__item">
              <a
                class="information-links__item link link_theme_ghost"
                href="{{ information.href }}"
              >
                {{ information.title }}
              </a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </footer>
    </div>
  </div>
</div>
{{ login_dialog }}
<div hidden>
  {% include "THEME_SLUG/image/svg-sprites.svg" ignore missing %}
</div>
<link rel="stylesheet" href="catalog/view/theme/THEME_SLUG/stylesheet/stylesheet.css" />
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous">
</script>
<script>(function($,d){$.each(readyQ,function(i,f){$(f)});$.each(bindReadyQ,function(i,f){$(d).bind("ready",f)})})(jQuery,document)</script>
<script src="catalog/view/theme/THEME_SLUG/javascript/bundle.js"></script>
{% for script in scripts %}
<script src="{{ script }}"></script>
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
</body>
</html>
