{{ header }}
{% if promo_left or promo_right  %}
<div class="page__row page__row_tinted">
  <div class="wrapper">
    <div class="promo">
      <div class="promo__section">
        {{ promo_left }}
      </div>
      <div class="promo__section">
        {{ promo_right }}
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="page__row">
  <div class="wrapper">
    {% if column_left %}
    <div>
      {{ column_left }}
    </div>
    {% endif %}
    {% if content_top %}
      {{ content_top }}
    {% endif %}
    {% if column_right %}
    <div>
      {{ column_right }}
    </div>
    {% endif %}
  </div>
</div>
<div class="l-container l-container_padding">
  {{ content_bottom }}
</div>
{{ footer }}
