{% from 'safes/blocks/svg-icon/svg-icon.twig' import svg_icon %}

<a
  class="cart-button button button_view_action"
  href="{{ cart }}"
>
  <span class="button__addon">
    {{ svg_icon({ symbol: "i-cart", class: "button__icon" }) }}
  </span>
  <span class="button__text">
    {{ text_items }}
  </span>
</a>
<div class="l-cart">
  <div id="cart" class="cart-popup">
    {{ svg_icon({ symbol: "i-close", class: "close cart-popup__close" }) }}
    <h6 class="cart-popup__title">
      {{ text_cart }}
    </h6>
    <table class="c-order cart-popup__order">
      {% if products %}
        {% for product in products %}
        <tr class="c-order__item">
          <td class="c-order__col">
            {% if product.thumb %}
            <div
              class="catalog__img_small"
              style="background-image: url('{{ product.thumb }}');"
            ></div>
            {% endif %}
          </td>
          <td class="c-order__col c-order__group">
            <span
              class="c-order__col"
              data-title="Наименование:"
            >
              <a href="{{ product.href }}" class="link">
                {{ product.model }}
              </a>
            </span>
            <span
              class="c-order__col"
              data-title="Цена за единицу:"
            >
              {{ product.price }}
            </span>
          </td>
          <td class="c-order__col c-order__quantity" data-title="Количество:">
            <span>{{ product.quantity }}</span>
          </td>
          <td class="c-order__col" data-title="Всего:">
            {{ product.total }}
          </td>
          <td class="c-order__col c-order__remove" onclick="cart.remove('{{ product.cart_id }}');">
            <svg class="remove">
              <use xlink:href="#i-remove"/>
            </svg>
          </td>
        </tr>
        {% endfor %}
        {% for total in totals %}
        <tr>
          <td colspan="3" class="c-order__col c-order__total h-right">
            {{ total.title }}
          </td>
          <td colspan="3" class="c-order__col c-order__total">
            {{ total.text }}
          </td>
        </tr>
        {% endfor %}
        <tr class="c-order__buttons">
          <td colspan="3" class="c-order__col"></td>
          <td colspan="2" class="c-order__col">
            <a href="{{ checkout }}" class="button button_view_action">
              {{ text_checkout }}
            </a>
          </td>
        </tr>
        {% else %}
        <tr>
          <td colspan="5" class="c-order__col">
            {{ text_empty }}
          </td>
        </tr>
      {% endif %}
    </table>
  </div>
</div>
