<div class="l-wrapper l-wrapper_border-top">
  <footer class="l-container l-footer">
    <div class="grid">
      <div class="grid__col grid__col--1-of-4 grid__col--m-1-of-2">
        <div class="l-footer__column">
          <span class="l-footer__row">ИП Любчик И.В.</span>
          <span class="l-footer__row">ОГРН 312265130400124</span>
					<span class="l-footer__row"><a href="/kontakty" class="link">Контакты</a></span>
        </div>
      </div>
      <div class="grid__col grid__col--1-of-4 grid__col--m-1-of-2">
        <div class="l-footer__column">
          {% if informations %}
            <h5 class="footer__caption">{{ text_information }}</h5>
          {% endif %}
          {% for information in informations %}
            <span class="l-footer__row"><a href="{{ information.href }}" class="link">{{ information.title }}</a></span>
          {% endfor %}
        </div>
      </div>
      <div class="grid__col grid__col--1-of-4 grid__col--m-1-of-2">
        <div class="l-footer__column">
          <span class="l-footer__row"><a href="{{ return }}" class="link">{{ text_return }}</a></span>
        </div>
      </div>
    </div>
    <div class="l-reference">
      <p class="reference__p">Сайт носит исключительно информационный характер. <a class="reference__link" onclick="toggleReference()">Подробнее</a></p>
      <p class="reference__p reference__full visually-hidden">
        Ни при каких условиях цены, размещенные на сайте, не являются публичной офертой (положения Статей 435 и 437 ГК РФ). Ваш заказ, стоимость и наличие товара, будут подтверждены менеджером, по номеру телефона или адресу электронной почты, указанными при заказе.
      </p>
    </div>
  </footer>
</div>
{# Быстрый вход #}
<div class="l-fullscreen quicklogin__wrapper">
  <form class="quicklogin" id="quicklogin">
    <div class="h-flex">
      <h3 class="ui__title">Вход</h3>
      <svg class="close" onclick="toggleQuicklogin()"><use xlink:href="#i-close"></use></svg>
    </div>
    <div class="ui__group">
      <input type="email" name="email" placeholder="Адрес электронной почты" id="input-email" class="ui__input ui__input_fw" />
    </div>
    <div class="ui__group">
      <input type="password" name="password" placeholder="Пароль" id="input-password" class="ui__input ui__input_fw" />
    </div>
    <div class="ui__group">
      <a class="link link_quicklogin" href="index.php?route=account/forgotten">Не помню пароль</a>
    </div>
    <div class="ui__group">
      <a class="link link_quicklogin" href="index.php?route=account/register">Я — новый покупатель</a>
    </div>
    <div class="ui__buttons">
      <button id="js-quicklogin__login" class="button">Войти</button>
    </div>
  </form>
</div>

<link rel="stylesheet" href="catalog/view/theme/safes/stylesheet/stylesheet.css" />
<link rel="stylesheet" href="catalog/view/theme/safes/stylesheet/media-queries.css" />
<link rel="stylesheet" href="catalog/view/theme/safes/assets/toast/grid.css" />
<link rel="stylesheet" href="catalog/view/theme/safes/assets/swiper/swiper.min.css" />
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous">
</script>
<script>(function($,d){$.each(readyQ,function(i,f){$(f)});$.each(bindReadyQ,function(i,f){$(d).bind("ready",f)})})(jQuery,document)</script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="catalog/view/theme/safes/assets/swiper/swiper.min.js"></script>
<script src="catalog/view/theme/safes/javascript/bundle.js"></script>
{% for script in scripts %}
<script src="{{ script }}"></script>
{% endfor %}

{% for analytic in analytics %}
{{ analytic }}
{% endfor %}

<script>
var live_search = {
	selector: '#search input[name=\'search\']',
	text_no_matches: '{{ text_empty }}',
	height: '50px'
}
$(live_search.selector).autocomplete({
	'source': function(request, response) {
		var filter_name = $(live_search.selector).val();
		var cat_id = 0;
		var module_live_search_min_length = '{{ module_live_search_min_length|abs }}';
		if (filter_name.length < module_live_search_min_length) {
			$('.live-search').css('display','none');
		}
		else{
			var html = '';
			html += '<li style="text-align: center;height:10px;">';
			html +=	'<img class="loading" src="catalog/view/theme/default/image/loading.gif" />';
			html +=	'</li>';
			$('.live-search ul').html(html);
			$('.live-search').css('display','block');

			$.ajax({
				url: 'index.php?route=extension/module/live_search&filter_name=' +  encodeURIComponent(filter_name),
				dataType: 'json',
				success: function(result) {
					var products = result.products;
					$('.live-search ul li').remove();
					$('.result-text').html('').hide();
					if (!$.isEmptyObject(products)) {
						var show_image = {{ module_live_search_show_image|abs }};
						var show_price = {{ module_live_search_show_price|abs }};
						var show_description = {{ module_live_search_show_description|abs }};
						$('.result-text').html('<a href="{{ module_live_search_href }}'+filter_name+'" class="link">{{ text_view_all_results|e }} ('+result.total+')</a>').show();
						$.each(products, function(index, product) {
							var html = '';
							html += '<li>';
							html += '<a href="' + product.url + '" title="' + product.name + '">';
							if (product.image && show_image){
								html += '<img class="live-search__image" alt="' + product.name + '" src="' + product.image + '" />';
							}
							html += '<div class="live-search__info">';
							html += '	<span class="live-search__title">' + product.name + '</span>';
              if(show_description){
								html += '<span class="live-search__desciption">' + product.extra_info + '</span>';
							}
							html += '</div>';
							if (show_price){
								if (product.special) {
									html += '<div><span class="live-search__price_old">' + product.price + '</span><span class="live-search__price">' + product.special + '</span></div>';
								} else {
									html += '<div><span class="live-search__price">' + product.price + '</span></div>';
								}
							}
							html += '</a>';
							html += '</li>';
							$('.live-search ul').append(html);
						});
					} else {
						var html = '';
						html += '<li class="live-search__no-results">';
						{# html +=	live_search.text_no_matches; #}
            html +=	'Ничего не найдено';
						html +=	'</li>';

						$('.live-search ul').html(html);
					}
					$('.live-search').css('display','block');
					return false;
				}
			});
		}
	},
	'select': function(product) {
		$(live_search.selector).val(product.name);
	}
});
$(document).bind("mouseup touchend", function(e){
	var container = $('.live-search');
	if (!container.is(e.target) && container.has(e.target).length === 0)
	{
		container.hide();
	}
});
</script>

</body>
</html>
