<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if description %}
  <meta name="description" content="{{ description }}" />
  {% endif %}
  <title>{{ title }}</title>
  <base href="{{ base }}" />
  {% for style in styles %}
  <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
  {% endfor %}
  {% for link in links %}
  <link rel="{{ link.rel }}" href="{{ link.href }}" />
  {% endfor %}
  <link rel="icon" type="image/png" href="catalog/view/theme/safes/image/favicon/16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="catalog/view/theme/safes/image/favicon/32.png" sizes="32x32">
  <link rel="apple-touch-icon" href="catalog/view/theme/safes/image/favicon/180.png" sizes="180x180">
  <script>(function(w,d,u){w.readyQ=[];w.bindReadyQ=[];function p(x,y){if(x=="ready"){w.bindReadyQ.push(y);}else{w.readyQ.push(x);}};var a={ready:p,bind:p};w.$=w.jQuery=function(f){if(f===d||f===u){return a}else{p(f)}}})(window,document)</script>
</head>
<body>
{# Меню для мобильных устройств #}
<div class="l-mobile-menu">
	<div class="mobile-menu">
		<svg class="close" onclick="toggleMobilemenu()"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-close"></use></svg>
		<div class="mobile-menu__search">
        <span class="mobile-menu__subtitle">Поиск сейфа</span>
        <input type="text" id="mobile-search" class="mobile-menu__input" placeholder="Например, SL-65T" />
		</div>
		<a class="mobile-menu__item" href="/dostavka">Доставка по России</a>
		<a class="mobile-menu__item mobile-menu__item_special" href="/skidki"><svg class="mobile-menu__discount"><use xlink:href="#i-discount"></use></svg>Скидки</a>
		<a class="mobile-menu__item" href="/kontakty">Контакты</a>
		{% if logged %}
		<a href="{{ account }}" class="mobile-menu__item">{{ text_account }}</a>
		<a href="{{ logout }}" class="mobile-menu__item">{{ text_logout }}</a>
		{% else %}
		<a href="{{ login }}" class="mobile-menu__item">Вход с паролем</a>
		{% endif %}
	</div>
</div>
<div class="wrapper">
  <div class="header">
    <div class="header__row">
      <nav class="header__top-navigation-menu top-navigation-menu">
        <ul class="top-navigation-menu__list">
          {% for link in top_navigation_links %}
            <li class="top-navigation-menu__item">
              <a
                class="top-navigation-menu__link link"
                href="{{ link.url }}"
                target="{{ link.target }}"
                {{ link.attributes }}
              >
                {{ link.text }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </nav>
      <div class="header__contacts">
        <a
          class="link"
          href="tel:{{ telephone|replace({'-':"",'(':"",')':"",' ':""}) }}"
        >
          {{ telephone }}
        </a>
      </div>
    </div>
    <div class="header__row">
      <div class="header__logotype">
        <a href="{{ home }}">
          <img
            src="catalog/view/theme/safes/image/logotype.svg"
            alt="«Твой сейф»"
          />
        </a>
      </div>
      <div class="header__hamburger">
        <div class="hamburger" onclick="toggleMobilemenu()">
          <span></span><span></span><span></span><span></span>
        </div>
      </div>
      <div class="header__search">
        {{ search }}
      </div>
      <div class="header__account">
        <ul class="nav">
          {% if logged %}
          <li class="nav__item"><a href="{{ account }}" class="link">{{ text_account }}</a>
          <li class="nav__item"><a href="{{ logout }}" class="link">{{ text_logout }}</a>
          {% else %}
          <li class="nav__item"><a class="link" onclick="toggleQuicklogin();">{{ text_login }}</a>
          {% endif %}
        </ul>
      </div>
      <div class="l-cart-button">
        {{ cart }}
      </div>
    </div>
  </div>
</div>
