{{ header }}
<div class="l-container l-container_padding">
  <div class="grid">
    {% if column_left %}
    <div class="grid__col grid__col--1-of-4">
    {{ column_left }}
    </div>
    {% endif %}
    {% if column_left and column_right %}
    {% set class = 'grid__col--2-of-4' %}
    {% elseif column_left or column_right %}
    {% set class = 'grid__col--3-of-4' %}
    {% else %}
    {% set class = 'grid__col--4-of-4' %}
    {% endif %}
    <div class="grid__col {{ class }}">
      <ul class="breadcrumbs">
      {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumbs__item"><a href="{{ breadcrumb.href }}" class="link link_breadcrumbs">{{ breadcrumb.text }}</a></li>
      {% endfor %}
      </ul>
      {{ content_top }}
      <h1>{{ heading_title }}</h1>
      {% if weight %}
      {{ weight }}
      {% endif %}
      {% if attention %}
      <div class="ui__message ui__message_error">{{ attention }}</div>
      {% endif %}
      {% if success %}
      <div class="ui__message">{{ success }}</div>
      {% endif %}
      {% if error_warning %}
      <div class="ui__message ui__message_error">{{ error_warning }}</div>
      {% endif %}
      <div class="document">
        <table class="c-order" id="js-order">
          {% for product in products %}
          <tr class="c-order__item">
            <td class="c-order__col">
              <svg class="remove" onclick="cart.remove('{{ product.cart_id }}');"><use xlink:href="#i-remove"></use></svg>
            <td class="c-order__col">
              <img src="{{ product.thumb }}">
            <td class="c-order__col js-order__name" data-title="Наименование:">
              <a href="{{ product.href }}" class="link">{{ product.model }}</a>
              {% if not product.stock %}
              <span class="c-order__lack">***</span>
              {% endif %}
              {% for option in product.option %}
              <br />{{ option.name }}: {{ option.value }}
              {% endfor %}
              {% if product.reward %}
              <br />{{ product.reward }}
              {% endif %}
              {% if product.recurring %}
              <br />{{ text_recurring_item }}
              {% endif %}
            <td class="c-order__col js-order__price" data-title="Цена:">
              {{ product.price }}
            <td class="c-order__col">
              <div class="ui__quantity">
                <button type="button" class="ui-quantity__down" onclick="updateQty('{{ product.cart_id }}', '-', 0);">-</button></span>
                 <input type="text" name="quantity[{{ product.cart_id }}]" value="{{ product.quantity }}" size="1" data-cart-id="{{ product.cart_id }}" />
                <button type="button" class="ui-quantity__up" onclick="updateQty('{{ product.cart_id }}', '+', 0);">+</button></span>
              </div>
            <td class="c-order__col js-order__total" data-title="Всего:">
              {{ product.total }}
          {% endfor %}
          {# vouchers - удалено #}
          {# кнопка очистить корзину - удалено #}
          {% for total in totals %}
            <tr class="c-order__item_total">
              <td class="c-order__col h-right" colspan="5">
                {{ total.title }}
              <td class="c-order__col">
                {{ total.text }}
          {% endfor %}
        </table>
        {# далее - удалено #}
        <div class="grid" id="checkout-form">
          <div class="grid__col grid__col--1-of-2">
            {% if settings.buy_login and not customer_logged %}
            {# Вход - удалено #}            
            {% endif %}
            {% if settings.buy_form_headings %}
            <h2>{{ attribute(settings,'buy_heading_1'~lang) }}</h2>
            {% endif %}
            <div class="ui__group"{% if customer_groups|length < 2 %} hidden{% endif %}>
            {{ entry_customer_group }}
            {% for customer_group in customer_groups %}
            <label>
              <input type="radio" name="customer_group_id" value="{{ customer_group.customer_group_id }}"{% if customer_group.customer_group_id == customer_group_id %} checked="checked"{% endif %}>
              {{ customer_group.name }}
            </label>
            {% endfor %}
            </div>
            {% if settings.buy_firstname_status %}
            <div class="ui__group{% if settings.buy_firstname_required %} ui__group_required{% endif %}">
              <input type="text" class="ui__input ui__input_fw" name="firstname" value="{{ firstname }}" placeholder="{{ entry_firstname }}" id="input-payment-firstname">
            </div>
            {% endif %}
            {% if settings.buy_lastname_status %}
            <div class="ui__group{% if settings.buy_lastname_required %} ui__group_required{% endif %}">
              <input type="text" class="ui__input ui__input_fw" name="lastname" value="{{ lastname }}" placeholder="{{ entry_lastname }}" id="input-payment-lastname">
            </div>
            {% endif %}
            {% if settings.buy_email_status %}
            <div class="ui__group{% if settings.buy_email_required %} ui__group_required{% endif %}">
              <input type="text" class="ui__input ui__input_fw" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-payment-email">
            </div>
            {% endif %}
            {% if settings.buy_telephone_status %}
            <div class="ui__group{% if settings.buy_telephone_required %} ui__group_required{% endif %}">
              <input type="text" class="ui__input ui__input_fw" name="telephone" value="{{ telephone }}" placeholder="{{ entry_telephone }}" id="input-payment-telephone">
            </div>
            {% endif %}
            {# Ненужные поля удалены #}
            {# Регистрация - пока удалено #}
            {# Катомные поля пользователя удалены #}
            {% if settings.buy_form_headings %}
            <h2>{{ attribute(settings,'buy_heading_2'~lang) }}</h2>
            {% endif %}
            {% if settings.buy_country_status %}
            <div class="ui__group{% if settings.buy_country_required %} ui__group_required{% endif %}" id="payment-country">
              <select name="country_id" id="input-payment-country" class="ui__select">
                <option value="">{{ text_select }}</option>
                {% for country in countries %}
                <option value="country.country_id"{% if country.country_id == country_id %} selected="selected"{% endif %}>
                  {{ country.name }}
                </option>
                {% endfor %}
              </select>
            </div>
            {% else %}
            <div hidden>
              <select name="country_id">
                <option value="{{ country_id }}" selected="selected"></option>
              </select>
            </div>
            {% endif %}
            {% if settings.buy_zone_status %}
            <div class="ui__group{% if settings.buy_zone_required %} ui__group_required{% endif %}" id="payment-zone">
              <select name="zone_id" id="input-payment-zone" onchange="updateShM(this.value)" class="ui__select ui__input_fw">
              </select>
            </div>
            {% else %}
            <div hidden>
              <select name="zone_id">
                <option value="{{ zone_id }}" selected="selected"></option>
              </select>            
            </div>
            {% endif %}
            {# Удалено - город, индекс #}
            {% if settings.buy_address_1_status %}
            <div class="ui__group{% if settings.buy_address_1_required %} ui__group_required{% endif %}">
              <input type="text" class="ui__input ui__input_fw" name="address_1" value="{{ address_1 }}" placeholder="{{ entry_address_1 }}" id="input-payment-address-1">
            </div>
            {% endif %}
            {# Удалено - адрес 2, кастомные поля #}
          </div>
          <div class="grid__col grid__col--1-of-2">
            {% if settings.buy_form_headings and (settings.buy_shipping_select or settings.buy_payment_select) %}
              <h2>{{ attribute(settings,'buy_heading_3'~lang) }}</h2>
            {% endif %}
            {% if settings.buy_shipping_select %}
            <div class="ui__group">
              <div id="shipping_methods"></div>
            </div>
            {% else %}
            <div hidden><input type="radio" name="shipping_method" value="flat.flat" checked="checked"></div>
            {% endif %}
            {% if settings.buy_payment_select %}
            <div class="ui__group">
              <div id="payment_methods"></div>
            </div>
            {% else %}
            <div hidden><input type="radio" name="payment_method" value="cod" checked="checked"></div>
            {% endif %}
            {% if settings.buy_comment_status %}
            <h3>Комментарий</h3>
            <div class="ui__group{% if settings.buy_comment_required %} ui__group_required{% endif %}">
              <textarea name="comment" rows="3" id="input-comment" class="ui__textarea">{{ comment }}</textarea>
            </div>
            {% endif %}
            {% if text_agree %}
            <div class="ui__group checkout__agreement">
              <label>
                {{ text_agree }}
                <input type="checkbox" name="agree" value="1"{% if agree %} checked="checked"{% endif %} />
              </label>
            </div>
            {% endif %}
            <div class="ui__buttons">
              <input type="button" value="{{ button_order }}" id="button-order" class="button" />
            </div>
          </div>
        </div>
        <div id="payment-form"></div>
      </div>

      {{ content_bottom }}
    </div>
    {% if column_right %}
    <div class="grid__col grid__col--1-of-4">
    {{ column_right }}
    </div>
    {% endif %}
  </div>
</div>

{{ footer }}

{% if settings.buy_telephone_mask %}
<script type="text/javascript" src="catalog/view/javascript/jquery/jquery.maskedinput.min.js"></script>
{% endif %}
<script type="text/javascript"><!--
cart.remove = function(key) {
        $.ajax({
            url: 'index.php?route=checkout/cart/remove',
            type: 'post',
            data: 'key=' + key,
            dataType: 'json',
            success: function(json) {
                $('#cart-total').html(json['total']);
                $('.ocpb-products input[name="quantity[' + key + ']"]').closest('tr').remove();
                if(typeof($('.ocpb-products input[name^=quantity]').val()) == 'undefined'){
                    location = 'index.php?route=checkout/buy';
                }else{
                    $('#cart > ul').load('index.php?route=common/cart/info ul li');
                    if(typeof($('#shipping_methods')) !== 'undefined' && $('#shipping_methods').length){
                    updateShM($('#checkout-form select[name=\'zone_id\']').val());
                    }else{
                        selectShipping();
                }
            }
            }
        });
    }
    $('#checkout-form select[name=\'country_id\']').on('change', function() {
        $.ajax({
            url: 'index.php?route=checkout/checkout/country&country_id=' + this.value,
            dataType: 'json',
            success: function(json) {
                if (json['postcode_required'] == '1') {
                    $('#checkout-form input[name=\'postcode\']').parent().addClass('required');
                } else {
                    $('#checkout-form input[name=\'postcode\']').parent().removeClass('required');
                }
                html = '<option value=""> - Выберите регион - </option>';
                if (json['zone']) {
                    for (i = 0; i < json['zone'].length; i++) {
                        html += '<option value="' + json['zone'][i]['zone_id'] + '"';
                        {#???#}
                        {% if not zone_id is empty %}
                        if (json['zone'][i]['zone_id'] == '{{ zone_id }}') {
                            html += ' selected="selected"';
                        }
                        {% endif %}

                        html += '>' + json['zone'][i]['name'] + '</option>';
                    }
                } else {
                    html += '<option value="0" selected="selected"> - Нет регионов - </option>';
                }

                $('#checkout-form select[name=\'zone_id\']').html(html);
                var zone_id = $('#checkout-form select[name=\'zone_id\']').val();
                if (zone_id) {
                    if(typeof($('#shipping_methods')) !== 'undefined' && $('#shipping_methods').length){
                        updateShM($('#checkout-form select[name=\'zone_id\']').val());
                    }else{
                        selectShipping();
                }
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    $('#checkout-form select[name=\'country_id\']').trigger('change');
    function updateShM(zone_id) {
{#???#}
{% if settings.buy_shipping_select %}
            $('#shipping_methods').load('index.php?route=checkout/buy/getShippingMethods&zone_id=' + zone_id, function() {
                $('#shm_loading').empty();
                selectShipping();
            });
{% endif %}
        $('#payment_methods').load('index.php?route=checkout/buy/getPaymentMethods&zone_id=' + zone_id, function() {
            $('#pay_loading').empty();
        });
    }

    $('#button-order').click(function() {
        $.ajax({
            url: 'index.php?route=checkout/buy/save',
            type: 'post',
            data: $('#checkout-form input[type=\'text\'], #checkout-form input[type=\'checkbox\']:checked, #checkout-form select, #checkout-form input[type=\'radio\']:checked, #checkout-form textarea, #checkout-form input[type=\'hidden\'], #checkout-form input[type=\'password\']'),
            dataType: 'json',
            success: function(json) {
                $('.ui__message').remove();
                $('.ui__alert').remove();
                /*if (json['redirect']) {
                    location = json['redirect'];
                }*/
                if (json['error']) {
                    if (json['error']['warning']) {
                        addWarning(json['error']['warning']);
                    }
                    if (json['error']['warning_top']) {
                        addWarningTop(json['error']['warning_top']);
                        $('html, body').animate({
                            scrollTop: $(".ui__message").offset().top - 15
                        }, {
                            duration: 500,
                            complete: function() {
                                $('.ui__message').animate({opacity: 0}, 100).animate({opacity: 1}, 100);
                            }
                        });
                    }
                    if (json['error']['firstname']) {
                        addError('#input-payment-firstname', json['error']['firstname']);
                    }
                    if (json['error']['lastname']) {
                        addError('#input-payment-lastname', json['error']['lastname']);
                    }
                    if (json['error']['email']) {
                        addError('#input-payment-email', json['error']['email']);
                    }
                    if (json['error']['telephone']) {
                        addError('#input-payment-telephone', json['error']['telephone']);
                    }
                    if (json['error']['fax']) {
                        addError('#input-payment-fax', json['error']['fax']);
                    }
                    if (json['error']['company']) {
                        addError('#input-payment-company', json['error']['company']);
                    }
                    if (json['error']['country']) {
                        addError('#input-payment-country', json['error']['country']);
                    }
                    if (json['error']['zone']) {
                        addError('#input-payment-zone', json['error']['zone']);
                    }
                    if (json['error']['city']) {
                        addError('#input-payment-city', json['error']['city']);
                    }
                    if (json['error']['postcode']) {
                        addError('#input-payment-postcode', json['error']['postcode']);
                    }
                    if (json['error']['address_1']) {
                        addError('#input-payment-address-1', json['error']['address_1']);
                    }
                    if (json['error']['password_empty']) {
                        addError('#input-password2', json['error']['password_empty']);
                        $('#input-password1').parent().addClass('has-error');
                    }
                    if (json['error']['password_equal']) {
                        addError('#input-password2', json['error']['password_equal']);
                        $('#input-password1').parent().addClass('has-error');
                    }
                } else {
                    $.ajax({
                        url: 'index.php?route=checkout/buy/confirm',
                        type: 'get',
                        dataType: 'json',
                        success: function() {
                            var code = $('#checkout-form input[name=\'payment_method\']:checked').val();
                            getPaymentForm(code, function() {

                                if ($('p,h1,h2,h3,input[type=text],input[type=radio],input[type=checkbox],input[type=password],select', $('#payment-form')).length > 0) {
                                    $('#payment-form').css('display', 'block');
                                } else {
                                    var payment_form = $('#payment-form form#payment');

                                    if (payment_form.length) {
                                        payment_form.submit();
                                    } else {
                                        var href = $('#payment-form div.buttons a').attr('href');
                                        if (typeof href != 'undefined' && href != '' && href != '#') {
                                            location = href;
                                        } else {
                                            $('#payment-form div.buttons a,#payment-form div.buttons input[type=button],#payment-form div.buttons input[type=submit],#payment-form form input[type=submit]').click();
                                        }
                                    }
                                }
                            });
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                            alert(thrownError);
                        }
                    });
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
            
        });
    });
    function getPaymentForm(code, callback) {
        $.ajax({
            async: false,
            cache: false,
            url: 'index.php?route=checkout/buy/getPaymentForm',
            type: 'post',
            data: 'code=' + code.split('.')[0] + '&payment_method=' + code,
            dataType: 'json',
            success: function(json) {
                $('#payment-form').html(json['output']);
                callback();
            }
        });
    }

    function addWarning(text) {
        $('.ui__message').remove();
        $('#checkout-form').before('<div class="ui__message ui__message_error">' + text + '</div>');
        $('html, body').animate({
            scrollTop: $("#checkout-form").offset().top - 15
        }, {
            duration: 500,
            complete: function() {
                $('#checkout-form .ui__message').animate({opacity: 0}, 100).animate({opacity: 1}, 100);
            }
        });
    }

    function addWarningTop(text) {
        $('.ui__message').remove();
        $('.document').before('<div class="ui__message ui__message_error">' + text + '</div>');
        $('.ui__message').animate({opacity: 0}, 100).animate({opacity: 1}, 100);

    }
    function addError(el, text) {
        $(el).parent().addClass('has-error');
        $(el).after('<div class="ui__alert">' + text + '</div>');
    }
    function selectShipping(){
        if(typeof($('input[name="shipping_method"]')) !== 'undefined' && $('#shipping_methods').length){
            var t_url = 'index.php?route=checkout/buy/selectShipping';
        }else{
            var t_url = 'index.php?route=checkout/buy/getTotals';
        }
            $.ajax({
                async: false,
                cache: false,
            url: t_url,
                type: 'post',
                data: 'code='+$('input[name="shipping_method"]:checked').val(),
                dataType: 'json',
                success: function(json) {
                    if(json['totals']){
                        var html = '';
                        {#???#}
                        var clear_show = {{ settings.buy_clear_show ? '1' : '0' }};
                        {#???#}
                        var prod_count = {{ products|length }}
                        $.each(json['totals'], function(key, totals){
                            html += '<tr class="c-order__item_total">';
                            if(key == 0 && clear_show && prod_count > 1){
                                html += '<button onclick="cart_clear();" class="button">{{ text_cart_clear }}</button>';
                            }
                            html += '<td class="c-order__col c-order__total h-right" colspan="5">'+totals['title']+'<td class="c-order__col">'+totals['total'];
                        });                        
                        $('.c-order__item_total').remove();
                        $('#js-order').append(html);
                    }
                }
            });
        
        }
    function updateQty(cart_id, ac, t){
        if(ac !== '='){
            var qty_obj = $('input[name="quantity[' + cart_id + ']"]');
           
            var qty = parseInt(qty_obj.val());
        
            if(ac == '+'){
                qty_obj.val(qty + 1);
            }else{
                if(qty > 1){
                    qty_obj.val(qty - 1);
                }
            }
        }
        
        $.ajax({
            async: false,
            cache: false,
            url: 'index.php?route=checkout/buy/edit',
            type: 'post',
            data: $('input[name="quantity[' + cart_id + ']"]'),
            dataType: 'json',
            success: function(json) {
                $.each(json['products'], function(key, totals){
                    $('input[name="quantity[' + key + ']"]').closest('tr').children('.js-order__name').children('span.c-order__lack').remove();
                    $('input[name="quantity[' + key + ']"]').closest('tr').children('.js-order__price').text(totals['price']);
                    $('input[name="quantity[' + key + ']"]').closest('tr').children('.js-order__total').text(totals['total']);
                    if(totals['stock'] !== 1){
                      $('input[name="quantity[' + key + ']"]').closest('tr').children('.js-order__name').children('a').after('<span class="c-order__lack">***</span>');
                    }
                });
                if(json['warning']){
                    addWarningTop(json['warning']);
                }else{
                    $('.ui__message').remove();
                }
                if($('#shipping_methods').length){
                updateShM($('#checkout-form select[name=\'zone_id\']').val());
                }else{
                    selectShipping();
            }
            }
        });
    }
    function cart_clear(){
        $.ajax({
            async: false,
            cache: false,
            url: 'index.php?route=checkout/buy/clear',
            type: 'get',
            success: function() {
                location = 'index.php?route=checkout/buy';
            }
        });
    }
    {#???#}
    {% if settings.buy_telephone_mask %}
    $("#checkout-form input[name='telephone']").mask("{{ settings.buy_telephone_mask }}");
    {% endif %}
    $(function(){
      selectShipping();
    });
    $('.ocpb-products .visible-lg input[name^=quantity]').on('input', function(){
        var qty = parseInt($(this).val()) || 0;
        if(qty > 0){
            updateQty($(this).data('cart-id'), '=', 0);
        }
    });
    $('.ocpb-products .visible-xs input[name^=quantity]').on('input', function(){
        var qty = parseInt($(this).val()) || 0;
        if(qty > 0){
            updateQty($(this).data('cart-id'), '=', 1);
        }else{
            if($(this).val() >= 1){
                updateQty($(this).data('cart-id'), '=', 1);
            }
        }
    });
    $('.ocpb-products .visible-lg input[name^=quantity]').on('focusout', function(){
        var qty = parseInt($(this).val()) || 0;
        if(qty <= 0){
            $(this).val('1');
            updateQty($(this).data('cart-id'), '=', 0);
        }
    });
    $('.ocpb-products .visible-xs input[name^=quantity]').on('focusout', function(){
        var qty = parseInt($(this).val()) || 0;
        if(qty <= 0){
            $(this).val('1');
            updateQty($(this).data('cart-id'), '=', 1);
        }
    });
    {#???#}
    {% if not customer_logged %}
    $('.customer-type label').on('click', function(){
        $('.customer-type label input').prop('checked', false);
        $('.customer-type label').removeClass('checked');
        $(this).children('input').prop('checked', true);
        $(this).addClass('checked');
        if($(this).children('input').val() == '0'){
            $('.ocpb-login-form, .ocpb-login-bg').show();
        }else{
            $('.ocpb-login-form, .ocpb-login-bg').hide();
        }
    });
    
    $('#checkout-form input[name="register"]').on('change', function(){
        if($(this).is(':checked')){
            $('.register-fields').show();
            {% if not settings.buy_email_required %}$('#checkout-form .main-form .email').addClass('required');{% endif %}
        }else{
            $('.register-fields').hide();
            {% if not settings.buy_email_required %}$('#checkout-form .main-form .email').removeClass('required');{% endif %}
        }
    });
    {% endif %}

//--></script>