<h3 class="visually-hidden">{{ heading_title }}</h3>
<div class="featured featured-{{ module }} swiper">
  <div class="featured__list swiper-wrapper">
    {% for product in products %}
      <div class="featured__item featured-product-card swiper-slide">
        <span class="featured-product-card__label label">
          Рекомендуем
        </span>
        <img
          class="featured-product-card__image"
          src="{{ product.thumb }}"
        />
        <h3 class="featured-product-card__title">
          <a
            href="{{ product.href }}"
            class="featured-product-card__link link"
          >
            {{ product.name }}
          </a>
        </h3>
        {% if product.special %}
          <span class="featured-product-card__price">
            {{ product.special }}
          </span>
          <span class="featured-product-card__original-price">
            {{ product.price }}
          </span>
        {% else %}
          <span class="featured-product-card__price">
            {{ product.price }}
          </span>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <div class="featured__pagination"></div>
</div>

<script>
$(document).ready(function() {
  //swiper.js
  var featuredSlider = new Swiper('.featured-{{ module }}', {
    loop: true,
    spaceBetween: 20,
    autoplay: {
      delay: 2200
    },
    pagination: {
      el: '.featured__pagination',
      type: 'bullets',
      clickable: true
    },
    breakpoints: {
      800: {
        slidesPerView: 2,
      }
    }
  });
});
</script>
