<div class="slideshow slideshow-{{ module }} swiper">
  <ul class="slideshow__list swiper-wrapper">
    {% for banner in banners %}
    <li
      class="slideshow__item swiper-slide"
    >
      <div class="swiper-lazy-preloader"></div>
      <img
        class="slideshow__image swiper-lazy"
        data-src="{{ banner.image }}"
      />
      <h2 class="slideshow__title">
        <a
          class="slideshow__link"
          href="{{ banner.link }}"
        >
          {{ banner.title }}
        </a>
      </h2>
    </li>
    {% endfor %}
  </ul>
  <div class="slideshow__pagination"></div>
</div>

<script>
  $(document).ready(function() {
    const promoBannerCarousel{{ module }} = new Swiper('.slideshow-{{ module }}', {
      spaceBetween: 20,
      loop: true,
      preloadImages: false,
      lazy: true,
      pagination: {
        el: '.slideshow-{{ module }} .slideshow__pagination',
        clickable: true,
      },
    });
  })
</script>
