{{ header }}
<div class="l-container l-container_padding">
  <div class="grid">
    {% if column_left %}
    <div class="grid__col grid__col--1-of-4">
      {{ column_left }}
    </div>
    {% endif %}
    {% if column_left and column_right %}
      {% set class = 'grid__col--2-of-4' %}
    {% elseif column_left or column_right %}
      {% set class = 'grid__col--3-of-4' %}
    {% else %}
      {% set class = 'grid__col--4-of-4' %}
    {% endif %}
    <div class="grid__col {{ class }}">
      <ul class="breadcrumbs">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumbs__item"><a href="{{ breadcrumb.href }}" class="link link_breadcrumbs">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
      {{ content_top }}

<h2>{{ heading_title }}</h2>
        {% if products %}

          {# Сортировка #}
          {{ text_sort }}
          <select class="c-products__sort" onchange="location = this.value;">
            {% for sorts in sorts %}
              {% if sorts.value == '%s-%s'|format(sort, order) %}
                <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
              {% else %}
                <option value="{{ sorts.href }}">{{ sorts.text }}</option>
              {% endif %}
            {% endfor %}
          </select>


          <div class="grid">
            {% for product in products %}
              <div class="grid__col grid__col--1-of-4 grid__col--m-1-of-3 grid__col--s-1-of-2">
                <div class="catalog__item">
                  <div class="catalog__image">
                    <a href="{{ product.href }}">
                      <div class="catalog__img" style="background-image: url('{{ product.thumb }}');"></div>
                    </a>
                  </div>
                  <h3 class="catalog__caption">
                    <a href="{{ product.href }}" class="link">{{ product.name }}</a>
                  </h3>
                  <span class="catalog__price">
                    {{ product.price }}
                  </span>
                </div>
              </div>
            {% endfor %}
          </div>
          {# Пагинация #}
          {{ pagination }}{{ results }}
        {% endif %}
        {% if not products %}
          <p>{{ text_empty }}</p>
        {% endif %}




      {{ content_bottom }}
    </div>
    {% if column_right %}
    <div class="grid__col grid__col--1-of-4">
      {{ column_right }}
    </div>
    {% endif %}
  </div>
</div>
<div class="l-container">
</div>
{{ footer }}