{% for filter_group in filter_groups %}
<a class="c-filter__title">{{ filter_group.name }}</a>
<div id="filter-group{{ filter_group.filter_group_id }}">
  {% for filter in filter_group.filter %}
  <div class="c-filter__checkbox">
    <input id="f_{{ filter_group.filter_group_id }}_{{ filter.filter_id }}" type="checkbox" name="filter[]" value="{{ filter.filter_id }}" {% if filter.filter_id in filter_category %}checked="checked"{% endif %} />
    <label for="f_{{ filter_group.filter_group_id }}_{{ filter.filter_id }}">{{ filter.name }}</label>
  </div>
  {% endfor %}
</div>
{% endfor %}
<button type="button" id="button-filter" class="button button_view_pseudo">{{ button_filter }}</button>

<script>
  $(document).ready(function() {
      $('#button-filter').click(function() {
        filter = [];
        $('input[name^=\'filter\']:checked').each(function(element) {
          filter.push(this.value);
        });
        location = '{{ action }}&filter=' + filter.join(',');
    });
  });
</script>
