<div
  id="promo-banner-carousel-{{ module }}"
  class="promo-banner-carousel swiper-container"
>
  <ul class="promo-banner-carousel__list swiper-wrapper">
    {% for banner in banners %}
    <li
      class="promo-banner-carousel__item swiper-slide swiper-lazy"
      data-background="{{ banner.image }}"
    >
      {% if banner.link %}
      <a
        class="promo-banner-carousel__link"
        href="{{ banner.link }}"
      >
        <h2 class="promo-banner-carousel__title">
          {{ banner.title }}
        </h2>
      </a>
      {% else %}
      <h2 class="promo-banner-carousel__title">
        {{ banner.title }}
      </h2>
      {% endif %}
      <span class="swiper-lazy-preloader"></span>
    </li>
    {% endfor %}
  </ul>
  <div class="promo-banner-carousel__pagination"></div>
</div>

<script>
  $(document).ready(function() {
    const promoBannerCarousel{{ module }} = new Swiper('#promo-banner-carousel-{{ module }}', {
      spaceBetween: 20,
      loop: true,
      preloadImages: false,
      lazy: true,
      pagination: {
        el: '#promo-banner-carousel-{{ module }} .promo-banner-carousel__pagination',
        clickable: true,
      },
    });
  })
</script>
